﻿<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    >
<Button  
    android:id="@+id/myButton"
    android:layout_width="match_parent" 
    android:layout_height="wrap_content" 
    android:text="@string/hello"
    />

<Button  
    android:id="@+id/newActivity"
    android:layout_width="match_parent" 
    android:layout_height="wrap_content" 
    android:text="@string/open_new_activity"
    />

</LinearLayout>

